*{
  font-family: Monaco, sans-serif;
}
@media (max-width:767px) {
  .visible-xs{
    visibility: visible !important;
  }
}
@media (min-width:768px) {
  .invisible{
    visibility: hidden !important;
  }
}
.bg-grey{
  background: #999999;
}
.navbar-brand{
  margin-left: 3vw;
}
.border-butt{
  border-bottom: 2px solid #000000 !important;
}
.nav_link{
  background: #FFFFFF;
  border-radius: 2px solid #121212;
}
.navbar-dark .navbar-brand{
  color: #000000;
}
.navbar-dark .navbar-brand:hover{
  color: #000000;
}
.navbar-nav{
  margin-left: -5vw;
  margin-right: -5vw;
}
.navbar-nav a:last-child{
  margin-bottom: -1.5vw;
}
.bg-white{
  color: #121212 !important;
  background: #FFFFFF !important;
  border: 2px solid #121212;
}
.body_section .head{
  margin-top: 3vw;
}
.body{
  background: #999999;
  color: #000000;
  margin: 3vw 3.75vw 0 3.75vw;
}
.menu-info{
  padding: auto auto 30px auto;
}
.h3-chicken{
  padding-top: 2vw;
  padding-bottom: 2vw;
}
#lorem{
  padding: 0 10px 20px;
  font-weight: lighter;
}
